{% extends "::base.html.twig" %}

{% block title %}Kwiaciarnia{% endblock %}

{% block body %}
    <div>
        <div id="titleMain">
            <label style="font-weight: bold; font-size: 32pt">Kwiaty na każdą kieszeń!</label>
        </div>

        <div id="divForLogIn" style="width: 20%; float: right; text-align: right;background: #c9a3a2; padding-bottom: 7px;">
        {% if form != null %}

                <label style="font-style: italic; text-align: left;">Zaloguj sie aby wpełni korzystać z aplikacjji</label>
                {{ form_start(form) }}
                {{ form_row(form.emailAddress) }}
                {{ form_row(form.hashPassword) }}

                <div style="text-align: right">
                    <button type="submit" style="margin-top:10px;">Zaloguj</button>
                </div>
                {{ form_end(form) }}
                <div style="padding-top: 10px;padding-right: 10px;">
                    <label style="font-style: italic">Nie masz konta? <a href="{{ path("user_new") }}" target="cos" onclick="onlslslslsl()">Zarejestruj sie.</a> </label>
                </div>

            {% else %}
                <div id="divAfterLogiIn" style="border: inset 3px #ff00bf; padding-right: 25%; padding-top: 15px; padding-bottom: 16px; background-color: #f5e6ff; margin-top: 7px; ">
                <label style="font-style: italic; font-size: 13pt;">Witamy ponownie !</label><br/>
                <label style="padding: 17px 10px 10px 10px; text-decoration: underline;">{{ user.firstName }} {{ user.lastName }}</label><br/>
                {#<button style="width: 100px; height: 20px; margin-top: 20px; margin-right: 18px;">#}
                    <a href="{{ path("index") }}" style="text-decoration: none;text-align:center; width: 100px; height: 20px; margin-top: 20px; margin-right: 20px;background: #ffffff;display: inline-block">Wyloguj</a>
                {#</button>#}
                </div>
        {% endif %}
            </div>


        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">x</span>
                <iframe id="iframemodal" src="" name="cos" height="100%" width="60%" style="border: none; padding: 9px; text-align: center; float: left;margin-left: 15%"></iframe>
            </div>

        </div>

        <div style="width: 68%; float: right; font-style: italic;background: linear-gradient(to right, white, #c9a3a2)">
            <h2 id="titleSecond">Dowieziemy kwiaty w wybrane przez Ciebie miejsce...</h2>
            <h3 id="showMessageInDesc" style="cursor: pointer; padding: 10px; border: groove #666666 0.5px; max-width: 150px;">Dowiedz sie wiecej</h3>
            <div id="description" style="display: none; float:left; padding-left: 30px;">
                <h4>Zaloguj sie aby zlozyc zamowienie, a my dowieziemy je pod wskazany adres w obrebie calego miasta Krakow.</h4>
            </div>
        </div>

        <div style="width: 3%;float: left; padding-top: 7px;">
            <img src="{{ asset('Images/FlowersImg.jpg') }}" style="width: 105px; height: 100px;padding-left: 50px; opacity: 0.8">
        </div>




    </div>
    {% if form == null %}
    <div style="float: right; width: 19%;margin-bottom: 9px;margin-top: 2px;">
        <img src="{{ asset('Images/koszyk.jpg') }}" height="18px" width="18px">
        {% if order == false %}
            <label style="padding-left: 10px">Twój koszyk jest na razie pusty !</label>
            {% else %}
                <a href="{{ path('usersorder_edit', {'id': user.id}) }}" target="frameContentProductsinOrder" style="padding-left: 10px"  onclick="aa()">W Twoim koszyku cos jest !!</a>
        {% endif %}

    </div>
    {% endif %}
    <div style="height: 2px; padding-right: 15px; padding-left: 15px; width:100%; text-align:center; background-color: #000066; margin-top: 12px; float: left"></div>

    <div id="content" style="width: 100%; height: 70%; float: left; margin-top: 25px;">
        <div class="assideMenu" style="width: 12%; min-height: 400px;background: RGB(162, 177, 196);">
            <a href="{{ path("index") }}">Strona Głowna</a></br>
            <a href="{{ path("index") }}">Wyswietl produkty</a></br>
            <a href="{{ path("index") }}">Zloz zamowienie</a></br>
            <a href="{{ path("index") }}">Zglos problem</a></br>
        </div>
        <div id="products" style="float: right; width: 82%; border: groove #999999 2px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom: none; min-height: 400px; padding: 8px 16px 16px 16px;background: radial-gradient(#efeff5, white)">
            <iframe id="franetoOrder" name="frameContentProductsinOrder" src="" width="100%" height="350px" frameborder="none" style="display: none; z-index: 100; background-color: white;"></iframe>
            {% for product in products %}
                <div style="width: 46%;float: left; line-height: 5px; border: solid #cc00cc 1px; border-radius: 10px;padding: 10px 20px 10px 20px; font-style: italic;margin-top: 10px;">
                    <div style="width: 30%; float: left; font-size: 16pt;padding: 10px; font-weight: bold">{{ product.name }}</div>
                    <div style="width: 40%; float: right; font-size: smaller; padding: 10px;text-align: right;"><label style="border: groove gainsboro 1px; padding: 6px; background-color: white;">{{ product.type }}</label></div>
                    <br/>
                    <h5 style="text-align: left;padding: 25px 10px 5px 10px"><label>{{ product.description }}</label></h5>
                    <h5 style="text-align: right;padding-right: 10px;"><label>{{ product.price }} zł</label></h5>
                    {% if form == null %}
                        <h5 style="text-align: right;"><a href="{{ path("orderproducts_new" , { 'id': product.id , 'user':user.id } ) }}" target="cos" onclick="onlslslslsl()" style="text-align: right;padding-right: 10px; color: black;">Dodaj do zamówienia</a></h5>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script>

        var modal = document.getElementById('myModal');

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        function onlslslslsl() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            $("#iframemodal").attr('src','about:blank');
        }


        // When the user clicks anywhere outside of the modal, close it


        function a() {
            if(document.getElementById('description').style.display == 'none')
                document.getElementById('description').style.display = 'flex';
            else
                document.getElementById('description').style.display = 'none';
        }
        $('#showMessageInDesc').click(
                function () {
                    $('#description').toggle();

                }
        )
        
        function aa() {
            $('#franetoOrder').toggle();
        }

        $(document).ready(
                setInterval(function () {
                    if($("#titleSecond").text() == "Złóż zamowienie juz dzis !")
                    {
                        $("#titleSecond").text("Dowieziemy kwiaty w wybrane przez Ciebie miejsce...")
                    }
                    else
                    {
                        $("#titleSecond").text("Złóż zamowienie juz dzis !")
                    }
                }, 4000)



        )

    </script>

{% endblock %}


