{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="font-style: italic;">Dostepne kwiaty</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Typ</th>
                <th>Opis</th>
                <th>Ilosc</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('flowers_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.amountOfStock }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('flowers_show', { 'id': product.id }) }}">Pokaz</a>
                        </li>
                        <li>
                            <a href="{{ path('flowers_edit', { 'id': product.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flowers_new') }}">Dodaj</a>
        </li>
    </ul>
{% endblock %}
