{% extends 'base.html.twig' %}

{% block body %}
    <h1>Problem</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ problem.id }}</td>
            </tr>
            <tr>
                <th>Problemcontent</th>
                <td>{{ problem.problemContent }}</td>
            </tr>
            <tr>
                <th>Dateofproblem</th>
                <td>{% if problem.dateOfProblem %}{{ problem.dateOfProblem|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('problem_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('problem_edit', { 'id': problem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
